body {
  font-family: 'Roboto', sans-serif;
  }

#title {
  background-color: #ff4c68;
  color: #fff;
  height: 700px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: relative;
  left: 15%;
}

#features {
  background-color: #fff;
  color: #000;
  text-align: center;
  position: relative;
  z-index: 1;
}

.features-class {
  padding: 7rem 1rem 5rem;
}

.fa-check-circle {
  font-size: 7rem;
  color: #ef8172;
}

.fa-check-circle:hover {
  font-size: 7rem;
  color: #ff4c68;
}

.fa-bullseye {
  font-size: 7rem;
  color: #ef8172;
}

.fa-bullseye:hover {
  font-size: 7rem;
  color: #ff4c68;
}

.fa-heart {
  font-size: 7rem;
  color: #ef8172;
}

.fa-heart:hover {
  font-size: 7rem;
  color: #ff4c68;
}

.features-h1 {
  font-size: 1.5rem;
  padding-top: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.features-p {
  color: #8f8f8f;
}

.col-features {
  padding-bottom: 5rem;
}

#testimonials {
  background-color: #ef8172;
  text-align: center;
  color: #fff;
}

.testimonials-h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-h3 {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 2rem;
}

.pricing-h2 {
  font-family: 'Ubuntu', sans-serif;
  color: #000;
  font-size: 3rem;
}

.pricing-card {
  padding:3% 2%;
}

.pricing-p {
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 1rem;
}

#cta {
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
  padding: 10rem;
}

.cta-h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
}

.btn-cta {
  margin: 20px 10px;
}

#footer {
  text-align: center;
  padding: 50px 30px;
  background-color: #fff;
}

.footer-icon {
  font-size: 1.5rem;
  margin: 10px 20px;
}

.footer-p {
  font-size: 20px;
}

@media (max-width: 1048px) and (min-width: 992px) {
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
  }

  .testimonials-h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
  }

  .cta-h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
  }
}

@media (max-width: 992px) and (min-width:820px) {
  #title {
    background-color: #ff4c68;
    color: #fff;
    height: 1700px;
    text-align: center;
  }

  .title-image {
    width: 500px;
    transform: rotate(0deg);
    position: static;
    left: 15%;
  }

  .testimonials-h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
  }

  .cta-h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
  }

  .nav-text {
    font-size: 2rem;
    text-align: left;
  }

  .features-h1 {
    font-size: 2rem;
  }

  .features-p {
    font-size: 1.5rem;
  }

  .testimonials-em {
    font-size: 2rem;
  }

  .press-img {
    width: 30%;
  }
}

@media (max-width: 820px) and (min-width:720px) {
  #title {
    background-color: #ff4c68;
    color: #fff;
    height: 1700px;
    text-align: center;
  }

  .title-image {
    width: 500px;
    transform: rotate(0deg);
    position: static;
    left: 15%;
  }

  .testimonials-h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
  }

  .cta-h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
  }

  .nav-text {
    font-size: 2rem;
    text-align: left;
  }

  .features-h1 {
    font-size: 2rem;
  }

  .features-p {
    font-size: 1.5rem;
  }

  .testimonials-em {
    font-size: 2rem;
  }

  .press-img {
    width: 30%;
  }
}

@media (max-width: 719px) and (min-width:620px) {
  #title {
    background-color: #ff4c68;
    color: #fff;
    height: 1700px;
    text-align: center;
  }

  .title-image {
    width: 500px;
    transform: rotate(0deg);
    position: static;
    left: 15%;
  }

  .testimonials-h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
  }

  .cta-h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
  }

  .nav-text {
    font-size: 2rem;
    text-align: left;
  }

  .features-h1 {
    font-size: 2rem;
  }

  .features-p {
    font-size: 1.5rem;
  }

  .testimonials-em {
    font-size: 2rem;
  }

  .press-img {
    width: 30%;
  }
}

@media (max-width: 620px) {
  #title {
    background-color: #ff4c68;
    color: #fff;
    height: 1700px;
    text-align: center;
  }

  .title-image {
    width: 500px;
    transform: rotate(0deg);
    position: static;
    left: 15%;
  }

  .testimonials-h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
  }

  .cta-h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
  }

  #cta {
    background-color: #ff4c68;
    text-align: center;
    color: #fff;
    padding: 5rem;
  }

  .nav-text {
    font-size: 2rem;
    text-align: left;
  }

  .features-h1 {
    font-size: 2rem;
  }

  .features-p {
    font-size: 1.5rem;
  }

  .testimonials-em {
    font-size: 2rem;
  }

  .press-img {
    width: 30%;
  }
}
